.bg {
  background: #f0f5f8;
  height: 100vh;
}
.abnormal-show-box {
  padding-top: 231px;
  .left-show {
    width: 500px;
    float: left;
    margin: 0 67px 0 140px;
  }
  .right-show {
    width: 300px;
    float: left;
    margin-top: 86px;
    .title {
      font-size: 72px;
      color: #666666;
      margin-bottom: 15px;
    }
    .des {
      font-size: 24px;
      line-height: 24px;
      color: #999999;
      margin-bottom: 19px;
    }
  }
}
.exception403-box {
  .img-box {
    width: 423px;
    height: 500px;
    .img403 {
      width: 100%;
      height: 100%;
      background: url("https://gw.alipayobjects.com/zos/rmsportal/wZcnGqRDyhPOEYFcZDnb.svg");
      background-size: cover;
    }
  }
}
.exception404-box {
  .img-box {
    width: 423px;
    height: 340px;
    .img404 {
      width: 100%;
      height: 100%;
      background: url("https://gw.alipayobjects.com/zos/rmsportal/KpnpchXsobRgLElEozzI.svg");
      background-size: cover;
    }
  }
}
.exception500-box,
.exception-client-error-box {
  .img-box {
    width: 471px;
    height: 216px;
    margin-top: 87px;
    .img500 {
      width: 100%;
      height: 100%;
      background: url("https://gw.alipayobjects.com/zos/rmsportal/RVRUAYdCGeYNBWoKiIwB.svg");
      background-size: cover;
    }
  }
  .mg {
    margin: 0 94px 0 140px;
  }
}
